<div class="comment" data-id="<%= comment.id %>">
  <div class="comment-section">
    <div class="comment-owner">
      <%= link_to comment.user.email, "#" %>
    </div>

    <p><%= comment.text %></p>

    <% if current_user == comment.user %>
      <div class="comment-links">
        <%= link_to t('edit'), edit_comment_path(comment), data: { id: comment.id, remote: true } %>
        <%= link_to t('delete'), comment_path(comment), method: :delete, data: { confirm: t('are_you_sure?'), remote: true } %>
      </div>
    <% end %>
  </div>
</div>
