<div class="category-picker">
  <select class="selectpicker" data-live-search="true" title="<%= t('choose_category') %>">
    <% Category.cached_categories.each do |category| %>
      <% if params[:category] == category.name %>
        <option value="<%= books_path(category: category.name) %>" selected="selected">
          <%= category.name %>
        </option>
      <% else %>
        <option value="<%= books_path(category: category.name) %>">
          <%= category.name %>
        </option>
      <% end %>
    <% end %>
  </select>
</div>

<% if @books.any? %>
  <div class="row">
    <%= render @books %>
    <div class="home-page-pagination text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= paginate @books %>
    </div>
  </div>
<% else %>
  <h2><%= t('no_books') %></h2>
<% end %>
