<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>

    <div class="btn-section">
      <div class="btn-group">
        <% if @book.user == current_user %>
          <%= link_to t('edit'),   edit_book_path(@book), class: "btn btn-default" %>
          <%= link_to t('delete'), book_path(@book), method: :delete, data: { confirm: t('are_you_sure?') }, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <div class="block">
      <h2><%= @book.title %></h2>
      <h4><span>by </span><%= @book.author %></h4>
      <div class="average-book-rating-section">
        <span class="average-book-rating" data-score="<%= @average_rating %>"></span>
        <span class="number-of-votes">Votes: ...</span>
      </div>
      <p class="book-description"><%= @book.description %></p>
    </div>
    <div class="btn-section">
      <div class="btn-group">
        <%= link_to "Add Comment", new_book_review_path(@book), class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="float: right;">
    <div class="block">
      <h2>Comments</h2>
      <%= render @book.reviews %>
      <div class="text-center">
        <%# TODO: assign comments to variable in controller action %>
        <%= paginate @book.reviews.page(params[:page]).per(10), pagination_class: "pagination-sm" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.average-book-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
