<div class="row">
  <div class="book-image-section col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <%= image_tag @book.image_url, class: "book-show" %>

    <div class="btn-section">
      <div class="btn-group">
        <% if @book.user == current_user %>
          <%= link_to t('edit'),   edit_book_path(@book), class: "btn btn-default" %>
          <%= link_to t('delete'), book_path(@book), method: :delete, data: { confirm: t('are_you_sure?') }, class: "btn btn-default" %>
        <% else %>
          <div class='your-evaluation'><%= t('your_evaluation') %></div>
          <span id="evaluation" data-value="<%= @evaluation ? @evaluation.value : 0 %>" data-url="<%= book_evaluate_path(@book) %>"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <div class="block">
      <h3><%= @book.title %></h3>
      <h4 class="author"><%= @book.author %></h4>
      <div class="average-book-evaluation-section">
        <span id="average-book-evaluation" data-value="<%= @average_book_evaluation %>"></span>
        <span class="number-of-evaluations-section">
          <%= t('number_of_evaluations') %>: <span id="number-of-evaluations"> <%= @number_of_evaluations %></span>
        </span>
      </div>
      <p class="book-description"><%= @book.description %></p>
      <div class="categories"><%= link_to @book.category.name, books_path(category: @book.category.name) %></div>
      <div class="added-by"><%= t('added_by') %> <a href="#"><%= @book.user.email %></a></div>
    </div>
    <div class="btn-section">
      <div class="btn-group">
        <%= link_to t('add_comment'), new_book_comment_path(@book), class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="float: right;">
    <div class="block">
      <h3><%= t('comments') %></h3>
      <%= render @comments %>
      <div class="text-center">
        <%= paginate @comments, pagination_class: "pagination-sm" %>
      </div>
    </div>
  </div>
</div>
