<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>

    <div class="btn-section">
      <div class="btn-group">
        <% if @book.user == current_user %>
          <%= link_to t('edit'),   edit_book_path(@book), class: "btn btn-default" %>
          <%= link_to t('delete'), book_path(@book), method: :delete, data: { confirm: t('are_you_sure?') }, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <div class="block">
      <h3><%= @book.title %></h3>
      <h4 class="author"><%= @book.author %></h4>
      <div class="average-book-rating-section">

        <%# TODO: show book rating using stars %>

        <!-- <span class="average-book-rating" data-score="<%= @average_rating %>"></span> -->
        <!-- <span class="number-of-votes">Votes: ...</span> -->
      </div>
      <p class="book-description"><%= @book.description %></p>
    </div>
    <div class="btn-section">
      <div class="btn-group">
        <%= link_to t('add_comment'), new_book_comment_path(@book), class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="float: right;">
    <div class="block">
      <h3><%= t('comments') %></h3>
      <%= render @comments %>
      <div class="text-center">
        <%= paginate @comments, pagination_class: "pagination-sm" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.average-book-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
