<div class="review">
  <div class="review-rating-section">
    <span class="review-rating" data-score="<%= review.rating %>"></span>
    <%= link_to review.user.email, "#", class: "commenter" %>
  </div>

  <p><%= review.comment %></p>

  <% if current_user == review.user %>
    <div class="review-comment-links-section">
      <%= link_to 'Edit', edit_book_review_path(review.book, review) %>
      <%= link_to 'Delete', book_review_path(review.book, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
